<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mission to Mars</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>
      <div class="container">
      <!-- Add Jumbotron to Header -->
      <div class="jumbotron text-center" style= "background-image: url(https://smd-prod.s3.amazonaws.com/ciencia-red/s3fs-public/thumbnails/image/1-pia24767-perseverance-finds-a-new-rock-to-abrade-16.jpeg); background-size: 100% 100%;">
        <h1>Mission to Mars</h1>
        <!-- Add a button to activate scraping script -->
        <p><a class="btn btn-lg btn-primary" style="background-color:rgb(54, 31, 26); color:rgb(255, 255, 255)" href="/scrape" role="button">Scrape New Data</a></p>
      </div>
      <!-- Add section for Mars News -->
      <div class="row" id="mars-news">
        <div class="col-md-12 col-xs-12">
          <div class="media">
            <div class="media-body">
              <h2>Latest Mars News</h2>
              <div style="border:5px solid black;padding:2px;background-color: rgba(255,255,255,.8);">
                <h4 class="media-heading">{{ mars.news_title }}</h4>
                <p>{{ mars.news_paragraph }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
     <!-- Section for Featured Image and Facts table -->
      <div class="row" id="mars-featured-image">
        <div class="col-md-8 col-xs-12">
          <h2>Featured Mars Image</h2>
          <img
            src="{{mars.featured_image }}"
            class="img-responsive"
            alt="Responsive image"
          />
        </div>
        <div class="col-md-4 col-xs-12">
          <!-- Mars Facts -->
          <h4>Mars Facts</h4>
          <div style="background-color: rgba(255,255,255,.8);">
            {{ mars.facts | safe }}
          </div>
        </div>
      </div>
      <!-- Add section for Mars Hemispheres -->
      <div class="row" id="mars-hemispheres">
        <h1 style="text-align:center">Mars Hemisphere Images</h1>
        {% for hemisphere in mars.hemisphere_images %}
        <div class="col-md-6 col-xs-6">
          <figure style="border: 1px solid #000;padding:3px">
          <img
              src="{{ hemisphere.img_url }}"
              class="img-responsive"
              alt="Responsive image"
            />
          <figcaption style="background-color: wheat;text-align: center">{{ hemisphere.title }}</figcaption>
          </figure>
          <br>
        </div>
        {% endfor %}
         <!-- Additional Links -->
         <div class="row" id="web-links">
          <div class="alert alert-warning" role="alert">
            <h3 class="alert-heading"> For more information, check out the following links!</h3>
            <h4>Click <a href="https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest" class="alert-link">here</a> for more on Mars NASA News.</h4>
            <h4>Venture to <a href="https://space-facts.com/mars/" class="alert-link">space-facts</a> and learn more about Mars and other planets in our solar system.</h4>
            <h4>Learn more about Mars Hemispheres <a href="https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars" class="alert-link">here</a> at the Astropedia Lunar and Planetary Catagraphic Catalog.</h4>
          </div>
        </div>
      </div>
      <div class="col-md-11">
    </div>
  </body>
</html>